@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 40px rgba(0,0,0, .5);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.animate-on-show {
  animation: rotate-scale-up-vertical 1s linear both;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

#viewPassword, #viewPasswordOutValidate {
  right: 50px;
  top: 55%;
  cursor: pointer;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.wrapper-sign-up {
  display: none;
  animation:rotate-scale-up-vertical 1s linear both;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-modal {
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

@keyframes rotate-scale-up-vertical {
  0% {
    transform:scale(1) rotateY(0)
  }50% {
    transform:scale(1.4) rotateY(180deg)
  }100%{
    transform:scale(1) rotateY(360deg)
  }
}


@media (max-width:1080px) {

  #viewPassword, #viewPasswordOutValidate {
    cursor: default;
  }

  .close-modal {
    cursor: default;
  }

  .wrapper .btn {
    cursor: default;
  }

  .remember-forgot a {
    text-decoration: none;
    cursor: default;
  }

  .remember-forgot a:hover {
    text-decoration: none;
  }

  .remember-forgot a:active {
    text-decoration: underline; 
  }
  
}
